# Javascript
node_modules
assets/styles/*.css
typings/*
dist
npm-debug.log
!typings/tempfix-plugin-tsc-issue-6615.d.ts
!typings/workaround-ngmocks.d.ts

## OS X
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
