@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular-webfont.eot svg ttf woff") format("eot svg ttf woff"); }

.panel-title {
  font-weight: bold;
  color: cornflowerblue; }

.center-fix {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.main-spinner {
  font-size: 3em;
  color: cornflowerblue; }
